body {
    background-color: black;
}
  
h1 {
  color: green;
  margin-left: 200px;
}
#colord{
	color: yellow;
	font-family: verdana;
}
#colorw{
	color: white;
	font-family: verdana;
	font-size:70px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

#test{
  background-color: white;
  border-style: double;
  border-color: blue;
}

#bold {
    font-weight: bold;
}
#italic{
	font-style: italic;
}
#tab{
	overflow: hidden;
	border: 2px solid #ccc;
	background-color: #f1f1f1;
}
#a button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  
}
#tab button:hover {
  background-color: #ddd;
}
#extra{
	background-color: inherit;
}
.image {
  background-image: url("https://www.wgu.edu/content/dam/web-sites/blog-newsroom/blog/images/national/2019/august/grey-hat-hacking.jpg");
  background-color: #cccccc;
  height: 1000px;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  
  
}
.ul.b{
list-style-type: circle;
}

#grad1 {
  height: 600px;
  background-color: #cccccc;
  background-image: radial-gradient(red 20%, yellow 60%);
}



